body {
    margin: 0;
    height: 100vh;
    font-family: 'Ubuntu Mono', 'Roboto', sans-serif;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #c3c3c3;
}

.note-card {
    height: 100px;
    background: #ddd;
    margin-bottom: 12px;
    padding: 12px 24px;
}

.note-card_title {
    font-size: 1.5em;
    font-weight: 800;
}



.d-flex {
    display: flex;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}